*, *::before, *::after {
	padding: 0;
	margin: 0;
	
	box-sizing: border-box;
}

#vertical {
    display: none;
}

#horizontal {
    display: grid;
    place-items: center;
    height: 100vh;

    background-image: linear-gradient(135deg, purple, green);
    color: white;
}